@import "bourbon/bourbon";
@import "neat/neat";
@import "devicons";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body {
  background: #333 url('/images/bg.png') repeat top left;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial;
  color: #fff;
}

.v-card {
  width: 650px;
  height: 400px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

a {
  color: #edda24;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.photo {
  @include span-columns(3);

  img {
    width: 100%;
    border-radius: 50%;
    border: 4px #fff solid;
    box-shadow: 0 0 3px rgba(#000, .5);
  }
}

.info {
  @include shift(1);
  @include span-columns(8);

  .name {
    margin-top: 15px;
    margin-bottom: 0px;
  }

  .location {
    font-size: em(12);
  }
}

.icon {
  background: url('/images/icons.png') no-repeat;
  display: inline-block;
  height: 64px;
  width: 64px;
  text-indent: -999em;
  margin: 10px 10px 0 0;
  background-size: 320px;

  &.github {
    background-position: -266px 5px;
    background-color: #4183C4;
  }

  &.twitter {
    background-color: #00ACED;
    background-position: -126px 10px;
  }

  &.email {
    background-color: #DD4B39;
    background-position: -58px 10px;
  }

  &.blog {
    background-color: #FF8300;
    background-position: -200px 9px;
  }
}

@media only screen and (max-width: 767px), only screen and (max-width: 767px) and (orientation: portrait), only screen and (max-width:960px) {
  .v-card {
    width: 90%;
    height: auto;
    position: static;
    overflow: hidden;
    margin: 30px auto 50px auto;
  }

  .photo, .info {
    text-align: center;
    width: 100%;
    margin: 0;
  }

  .photo img {
    width: 50%;
  }
}